@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  body {
    background: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    margin: 0;
    padding: 0;
  }

  .no-print,
  [class*='MuiAppBar-root'],
  [class*='MuiDrawer-root'] {
    display: none !important;
  }

  .MuiPaper-root {
    box-shadow: none !important;
    border: none !important;
  }

  .MuiContainer-root,
  .MuiBox-root {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  @page {
    size: A4;
    margin: 1cm;
  }

  html, body, #__next {
    height: auto !important;
    width: 100% !important;
    overflow: visible !important;
  }
}

